SUPER_USERNAME=<Admin Username>
SUPER_PASSWORD=<Admin Password>
READER_USERNAME=<Read Only Username>
READER_PASSWORD=<Read Only User password>
EDITOR_USERNAME=<Editor Username>
EDITOR_PASSWORD=<Editor User password>